.programme-courses-table , .main-course-list-table {
    width : 70%;
}

.programme-courses-table {
    margin-top : 1rem;
}

h2 {
    font-size : 2rem;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1rem;
}

.column-id {
    width: 5%;
}

label {
    font-size: 1rem;
}

.ftmv-lms-form-layout-container {
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;

    padding: 0.5rem;
    align-items: center;
    font-weight: 500;
}
.programme-created-user {
    margin-top : 1rem;
}

.ftmv-lms-course-details-form, .ftmv-lms-programme-details-form {
 
    padding: 0rem 0rem 2rem 0rem;
    width: 30%;
}

@media only screen and (max-width: 1024px) {
    .ftmv-lms-course-details-form, .ftmv-lms-programme-details-form {
        width: 90%;
    }

    .ftmv-lms-input-container {
        flex-basis: 70%;
    }
    
    .ftmv-lms-input-container input {
        width: 100%;
    }

  }

.course-start-date {
    display: flex;
}

.manage-column {
    font-weight: 600 !important;
}

.wp-list-table th{
    font-size: 1rem !important;
}

.wp-list-table td{
    font-size: 0.9rem !important;
    font-weight: 400 !important;
}

.wp-list-table .row-title {
    font-size: 1rem !important;
}

button {
    font-size: 1rem !important;
}

tfoot tr .manage-column {
    font-size: 0.9rem !important;
}

.delete-btn {
    background-color: firebrick !important;
    border-color: firebrick !important;
}

.column-name {
    width: 30%;
}

.ftmv-lms-input-container {
    flex-basis: 50%;
}

.ftmv-lms-input-container input {
    width: 100%;
}


.ftmv-lms-form-button-container {    
    margin-top: 4rem;
}

.ftmv-lms-form-delete-button-container {
    margin: 2rem 0;
}

.ftmv-lms-back-button-container {
    margin: 2rem 0;
}

